
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head_logo{
    height: 40px;
    width: 40px;
   margin-right: 1em;
  margin-top: none;
}
.nav_text{
    padding-bottom: .5em;
}
.inline{
    display: inline;
    text-align: center;
    color: white;
}
.transparent{
    background: transparent;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
}
.index{
    font-size: 500;
}
nav{
    color: white;
    height: fit-content;
}
nav li{
    font-size: medium;
    color: white;
}
.navbar-brand{
    font-size: 700;
    font-weight: bold;
    color: white;
    font-family: 'Crimson Text', serif;
}
.jumbotron{
    /* background: url(img/logo.png) no-repeat center ;  */
    /* background-color: rgba(22, 21, 21, 0.911);
    background-size: cover; */
    background: none;
    color: black;
}
.navbar-header{
    font-size: large;
}
.panel-footer{
    margin-top: 2em;
}
.center{
    margin: 1em auto;
    text-align: center;
}

 .banner-image{ padding-top: 75px;    
              padding-bottom: 50px; 
              text-align: center;     
              color: #f8f8f8; 
              background: url(img/intro-bg.jpg) no-repeat center ; 
              background-size: cover;
}

.banner-content{
    border-radius: 10px;
    padding-top: 3%; 
    padding-bottom: 3%; 
    margin: 6% auto;
    background-color: rgba(0, 0, 0, 0.75); 
    max-width: 660px;
    overflow: hidden;
}

.thumbnail img{
    max-height: 150px; 
}
main {
    min-height: 100vh;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; }
.row_style{margin-top: 70px;
}
 h2{font-weight: bolder; 
 }
 .jumbotron_style{
     margin-top: 70px;
     text-align: center;
 }
 .table_style{
     margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    /* border: 1px solid cyan; */
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }
 .contact ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1em;
 }
 .contIcon{
     height: 10%;
     width: 10%;
     max-height: 40px;
     max-width: 40px;
 }
 .table-responsive{
     margin: 10em auto;
 }
 .table-responsive h1{
     margin: .5em auto;
     text-align: center;
     font-weight: bold;
 }
 .success{
     margin: 10em auto;
 }
 